.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}
body {
  overflow-x: hidden;
  min-width: 320px;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #171919;
  text-transform: uppercase;
}
a{
  display: inline-block;
  color: #fff;
}
.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
}
.subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  margin: 0 0 8px 0;
  display: inline-block;
  position: relative;
}
.slick-list{
  overflow: visible;
}
.headline-top {
  &::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #4AF6CD;
    top: 30px;
    right: 0;
  }
}
.headline-right {
  padding-right: 103px;
  &::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
.headline-left {
  padding-left: 103px;
  &::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}
.btn{
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  span{
    display: inline-block;
    padding: 27px 57px 27px 17px;
    margin-left: 19px;
    background: rgba(74, 246, 205, 1);
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 20px;
      height: 1px;
      background: #fff;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
    }
    &::after{
      position: absolute;
      content: '';
      background-image: url(../images/arrow-right.svg);
      width: 24px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
    }
  }
}
.section {
  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 156px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 16%;
  }
  &-backtitle {
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    color: rgba(#fff, .02);
    position: absolute;
    top: 65px;
    right: 15px;
  }
  &__info{
    margin: 0 55px 0 0;
    text-align: right;
    &-title{
      padding: 0 7px 0 0;
      span{
        font-weight: 100;
      }
    }
  }
}

.quantity {
  display: inline-block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}
.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  display: block;
  border: none;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  background-color: transparent;
  color:#fff;
}
.quantity input:focus {
  outline: 0;
}
.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}
.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45px;
}
.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}
.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}