@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  height: 100vh;
  position: relative;

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    color: rgba(#fff, .07);
    z-index: 1;
    max-width: 450px;
    user-select: none;
  }

  &__arrows {
    position: absolute;
    bottom: 30px;
    left: 210px;
    z-index: 2;
  }
}

.line-animation {
  stroke-dashoffset: 750;
  stroke-dasharray: 750;
  animation: animationdash 4s infinite 6s;
}

@keyframes animationdash {
  to {
    stroke-dashoffset: 0;
  }
}

.header__slider {
  position: relative;
}

.header__slider-item {
  height: 100vh;
}

.slider-item {
  background-image: url(../images/header-slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &__map {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__info {
    position: absolute;
    right: 73px;
    bottom: 116px;
    text-align: right;

    &-title {
      font-weight: 800;
      font-size: 80px;
      line-height: 86px;
      margin-bottom: 48px;
    }

    &-text {
      font-weight: 800;
      font-size: 40px;
      line-height: 86px;
    }

    &-subtitle {
      margin-bottom: 5px;
    }

    &-subtext {
      margin-bottom: 8px;
    }

    .slider-item__info-arrow {
      display: inline-block;
      cursor: pointer;
    }
  }
}

.slider__arrows {
  position: absolute;
  top: 40px;
  right: 125px;
  cursor: pointer;
  z-index: 4;

  &-right {
    right: 80px;
  }
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 30px;
  max-width: 920px;
  width: 100%;
}

.dots-box {
  max-width: 200px;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;

  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.slick-current .dots-box {
  border-top: 4px solid #4AF6CD;
}

.nav {
  border-right: 1px solid rgba(#fff, .25);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  text-align: center;
}

.logo {
  z-index: 4;
  // margin-bottom: 35px;
  margin-bottom: 118px;
}

.menu {
  // margin-bottom: 20px;
  margin-bottom: 38px;

  &__list {
    min-height: 353px;
    max-width: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    &-item {
      &--link {
        text-transform: capitalize;
        display: block;
        color: inherit;
      }

      &--img {
        margin-bottom: 6px;
      }
    }
  }
}

.search-btn {
  // margin-bottom: 15px;
  margin-bottom: 20px;
}

.date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  // margin-bottom: 20px;
  margin-bottom: 30px;

  & span {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    display: block;
    // padding-top: 5px;
    padding-top: 17px;
  }
}

.location-btn {
  font-weight: 300;
  font-size: 12px;
  text-transform: capitalize;
  color: inherit;
  line-height: 14px;
  letter-spacing: 1.05px;
  padding-left: 19px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 14px;
    background-image: url(../images/location-marker.svg);
  }
}

.surf {
  margin-bottom: 277px;

  &__inner {
    padding: 157px 0 50px;
    position: relative;
  }

  .big-marker {
    position: absolute;
    top: 225px;
    right: -162px;
    opacity: 1;
  }
}

.surf-slider__map {
  // display: flex;
  margin: 0 auto;
  padding: 0 40px 0 0;
  max-width: 1200px;
  // width: 100%;
  min-height: 635px;
  background-image: url(../images/world-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/coordinates.png);
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    width: 22px;
    height: 358px;
  }

  .slick-slide.slick-current {
    .surf-dots__content {
      display: block;
    }
  }

  .slick-list {
    min-height: 635px;
    overflow: visible;
  }
}

.surf-dots {
  &--1 {
    position: absolute;
    top: 330px;
    left: -13px;
  }

  &--2 {
    position: absolute;
    top: 290px;
    left: 136px;
  }

  &--3 {
    position: absolute;
    top: 318px;
    left: 338px;
  }

  &--4 {
    position: absolute;
    top: 501px;
    left: 413px;
  }

  &--5 {
    position: absolute;
    top: 212px;
    left: 530px;
  }

  &--6 {
    position: absolute;
    top: 555px;
    left: 637px;
  }

  &--7 {
    position: absolute;
    top: 395px;
    left: 798px;
  }

  &--8 {
    position: absolute;
    top: 501px;
    left: 1089px;
  }

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #4AF6CD;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
    // margin: 0 auto;
  }

  &__content {
    max-width: 283px;
    background: rgba(#0F1010, .7);
    mix-blend-mode: normal;
    border-radius: 6px;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    transform: translate3d(-45%, -120%, 0);

    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 20px solid #4AF6CD;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      bottom: -29px;
      left: 50%;
      transform: translateX(-57%);
    }
  }

  &__content-toprow {
    width: 100%;
    position: relative;
    padding: 28px 32px 12px;
  }

  &__content-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 9px;
    margin-bottom: 9px;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 80px;
      height: 1px;
      background: #4AF6CD;
    }
  }

  &__content-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
  }

  &__content-arrows img {
    position: absolute;
    top: 35px;
    right: 32px;
    width: 16px;
    height: 14px;
  }

  &__content-bottomrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 39px 31px;
  }

  &__content-box {
    width: 100%;
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 7.5px;
    }
  }

  &__content-surf {
    max-width: 42px;
  }

  &__content-water {
    max-width: 39px;
  }

  &__content-wind {
    max-width: 49px;
  }

  &__content-number {
    font-weight: 800;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
  }

  &__content-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}

.surf-slider {
  padding-top: 110px;

  .slick-list {
    overflow: hidden;
  }

  .slider__arrows {
    top: 50px;
    opacity: .25;
  }

  .slick-slide:nth-child(4n+1) {
    margin-top: 32px;
  }

  .slick-slide:nth-child(4n+3) {
    margin-top: 89px;
  }

  .slick-slide.slick-current {
    .surf-box__inner {
      background: rgba(#1C2121, .3);
    }

    .surf-box__inner-btn {
      display: block;
    }
  }
}

.surf-box {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__inner {
    min-height: 750px;
    background: rgba(#1C2121, .85);
    position: relative;
  }

  &__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    max-width: 155px;
    position: absolute;
    top: 72px;
    left: 40px;
  }

  &__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 0;
    height: 0;
    white-space: nowrap;

    span {
      font-weight: 100;
    }
  }

  &__inner-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
  }
}

.slick-slide .slick-current {
  .surf-box__inner {
    background: transparent;
  }
}

.holder {
  &-slider {
    .slider__arrows {
      opacity: .25;
      top: 290px;
    }

    .slider__arrows-left {
      right: 105px;
    }

    .slider__arrows-right {
      right: 60px;
    }
  }

  &-head {
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 780px;
    margin: 60px 0 100px 0;
  }

  &-head__info {
    padding-top: 92px;
    margin-bottom: 425px;
  }

  &-head .holder-plane {
    background-repeat: no-repeat;
    background-position: 100% 75%;
    background-size: 750px, 250px;
    margin-right: -60px;
    padding-top: 75px;
    position: relative;
  }
}

.slider-head__info {
  text-align: left;
  margin-left: 135px;
}

.virgin {
  padding-left: 20px;
  // display: inline-block;
}

.stars {
  display: inline-block;

  .star {
    display: inline-block;
  }

  .star:not(:last-child) {
    display: inline-block;
    margin-right: -30px;
  }
}

.hammock {
  position: absolute;
  top: -125px;
  right: -35px;
}

.flower {
  width: 346px;
  height: 265px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  right: -160px;
}

.slider-content {
  position: relative;
  padding-bottom: 250px;

  &__items {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    margin-bottom: 60px;
  }

  &__item {
    position: relative;
  }

  &__item-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding-left: 40px;
    position: relative;

    .holder-pricing__span {
      font-weight: 400;
      font-size: 14px;
      line-height: 36px;
      text-align: right;
      letter-spacing: 5.25px;
      color: rgba(#fff, 0.75);
      position: absolute;
      top: 27px;
      right: -7px;
    }
  }

  .calculator-title {
    letter-spacing: 6px;
  }

  .pricing-title {
    width: 300px;
    text-align: end;
  }

  &__item-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    color: rgba(#fff, 0.5);
    transform: rotate(-90deg);
    position: absolute;
    top: 97px;
    left: -97px;
    width: 200px;
    height: 0;
    white-space: nowrap;
  }

  &__btn {
    width: fit-content;
    margin: 0 auto;
  }

  .cocktail {
    width: 564px;
    height: 564px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: -255px;
  }
}

.shop {
  &__inner .slider__arrows {
    top: 100px;
  }

  &-head {
    background-position: right center;
    display: flex;
    justify-content: space-between;
    padding: 22px 86px 0 133px;
  }

  &-info {
    max-width: 367px;
    width: 100%;
    padding-top: 150px;

    .section__info-title {
      margin-bottom: 47px;
    }
  }

  .stars {
    display: block;
    margin-left: -16px;
  }

  .surfboard-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    position: relative;
    margin-bottom: 64px;

    &::after {
      position: absolute;
      content: '99';
      font-size: 18px;
      top: -5px;
      left: 73px;
    }
  }

  &-surfboard {
    max-width: 228px;
    width: 100%;
    position: relative;
  }

  .surfboard {
    &-box {
      position: absolute;

      &--1 {
        top: 215px;
        right: 40px;
      }

      &--2 {
        top: 300px;
        left: -6px;

        .surfboard-box__content {
          left: auto;
          right: 132px;

          &::before {
            left: auto;
            right: -95px;
          }
        }
      }

      &--3 {
        bottom: 128px;
        left: 52px;

        .surfboard-box__content {
          left: auto;
          right: 132px;

          &::before {
            left: auto;
            right: -95px;
          }
        }
      }
    }

    &-box__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      position: relative;

      &.active {
        .surfboard-row+.surfboard-row {
          transform: translate(-50%, -50%) rotate(0deg);
        }

        &+.surfboard-box__content {
          display: block;
        }
      }
    }

    &-row {
      width: 12px;
      height: 2px;
      background-color: #4AF6CD;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: .2s;

      &+.surfboard-row {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &-box__content {
      display: none;
      position: absolute;
      top: -13px;
      left: 132px;
      min-width: 255px;
      width: 100%;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;

      &::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 1px;
        background: rgba(#fff, 0.5);
        top: 50%;
        transform: translateY(-50%);
        left: -104px;
      }
    }
  }

  &-extras {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .extras {
    &-title {
      font-weight: 800;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 25px;
    }

    &-items {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-item {
      width: 160px;
      text-align: center;
    }

    &-item__img {
      margin: 0 auto 35px;
      width: 120px;
      height: 150px;
      object-fit: contain;
    }

    &-item__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      color: rgba(#fff, 0.5);
      margin-bottom: 16px;
    }

    &-item__price {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
    }
  }
}

.footer {
  text-align: center;
  padding-top: 284px;
  margin-bottom: 34px;

  & .btn {
    margin-bottom: 27px;
  }

  & .btn span {
    padding: 27px 20px 27px 17px;
  }

  & .btn span::after {
    display: none;
  }

  & p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2.05px;
    color: rgba(#fff, 0.5);
  }
}


@import 'media';