@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  height: 100vh;
  position: relative;
  &__title{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    text-transform: uppercase;
    color: rgba(#fff, .07);
    z-index: 1;
    max-width: 450px;
    user-select: none;
  }
  &__arrows{
    position: absolute;
    bottom: 30px;
    left: 210px;
    z-index: 2;
  }
}
.line-animation{
  stroke-dashoffset: 750;
  stroke-dasharray: 750;
  animation: animationdash 4s infinite 6s;
}
@keyframes animationdash{
  to{
    stroke-dashoffset: 0;
  }
}
.header__slider{
  position: relative;
}
.header__slider-item{
  height: 100vh;
}
.slider-item{
  background-image: url(../images/header-slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  &__map{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__info{
    position: absolute;
    right: 73px;
    bottom: 116px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    &-title{
      font-weight: 800;
      font-size: 80px;
      line-height: 86px;
      margin-bottom: 48px;
    }
    &-text{
      font-weight: 800;
      font-size: 40px;
      line-height: 86px;
    }
    &-subtitle{
      margin-bottom: 5px;
    }
    &-subtext{
      margin-bottom: 8px;
    }
    .slider-item__info-arrow{
      display: inline-block;
      cursor: pointer;
    }
  }
}
.slider__arrows{
  position: absolute;
  top: 40px;
  right: 125px;
  cursor: pointer;
  z-index: 4;
  &-right{
    right: 80px;
  }
}
.slider-dots{
  position: absolute;
  right: 50px;
  bottom: 30px;
  max-width: 920px;
  width: 100%;
  color: #fff;
}
.dots-box{
  max-width: 200px;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  &__number{
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
  }
  &__name{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}
.slick-current .dots-box{
  border-top: 4px solid #4AF6CD;
}
.nav{
  border-right: 1px solid rgba(#fff, .25);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  text-align: center;
  color:#fff;
  .logo{
    z-index: 4;
    // margin-bottom: 35px;
    margin-bottom: 118px;
  }    
  .menu{
    // margin-bottom: 20px;
    margin-bottom: 38px;
    &__list{
      min-height: 353px;
      max-width: 59px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;
      &-item{
        &--link{
          color:#fff;
          display: block;
        }
        &--img{
          margin-bottom: 6px;
        }
      }
    }
  }
  .search-btn{
    // margin-bottom: 15px;
    margin-bottom: 20px;
  }
  .date{
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    // margin-bottom: 20px;
    margin-bottom: 30px;
    & span{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.4px;
      display: block;
      // padding-top: 5px;
      padding-top: 17px;
    }
  }
  .location-btn{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.05px;
    padding-left: 19px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 45px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 11px;
      height: 14px;
      background-image: url(../images/location-marker.svg);
    }
  }
}


@import 'media';